<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<div style="margin: 0 auto; max-width: 600px; padding: 20px;">
    <div style="background-color: #3730a3; color: #fff; padding: 10px; text-align: center;">
        <h2 style="margin-bottom: 0;">Reset Your Password</h2>
    </div>
    <div style="background-color: #f8f9fa; padding: 20px;">
        <p>Hello, {{name}}</p>
        <p>We received a request to reset your password. If you did not make this request, you can ignore this email.</p>
        <a href="{{url}}" style="display: inline-block; background-color: #3730a3; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Reset Password</a>
        <p style="margin-top: 20px;">If you did not request a password reset, no further action is required.</p>
    </div>
</div>
</body>
</html>
